doctype html
html
  head
    title= title
    link(rel='stylesheet', href='semantic/dist/semantic.min.css')
    link(rel='stylesheet', href='public/stylesheets/users/register.css')
  body
    div.ui.middle.aligned.center.aligned.grid
      .column
        h2.ui.image.header
          .content 注册
        form.ui.large.form
          .ui.stacked.segment
            .field
              .ui.left.icon.input
                i.user.icon
                input.tel(type='text', name='telphone', placeholder='请填写您的手机号')
            .field
              .ui.left.icon.input
                i.lock.icon
                input.pass(type='password', name='pass', placeholder='请填写您的密码')
            .field
              .ui.left.icon.input
                i.expeditedssl.icon
                input.repass(type='password', name='repass', placeholder='请再次输入您的密码')
            a.ui.fluid.large.teal.submit.button 注册
  script(src='public/lib/third/jqurey.min.js')

  script(src='public/javascripts/user/register/register.js')
